<div class="container mt-5">
  <h2 class="card-title" style="text-align: center">Assignment</h2>
  <div class="card table-responsive" *ngIf="UserList.length > 0">
    <div class="p-2">
      <input class="form-control w-50 float-right" [(ngModel)]="searchTerm" type="text" placeholder="Search">
    </div>
    <table class="table table-striped ">
      <thead>
        <tr>
          <th scope="col">First Name <i (click)="onSortClick($event, 'first')" class="fa fa-arrow-up"></i></th>
          <th scope="col">Last Name <i (click)="onSortClick($event, 'last')" class="fa fa-arrow-up"></i></th>
          <th scope="col">Email <i (click)="onSortClick($event, 'email')" class="fa fa-arrow-up"></i></th>
          <th scope="col">Address <i (click)="onSortClick($event, 'address')" class="fa fa-arrow-up"></i></th>
          <th scope="col">Created <i (click)="onSortClick($event, 'created')" class="fa fa-arrow-up"></i></th>
          <th scope="col">Balance <i (click)="onSortClick($event, 'balance')" class="fa fa-arrow-up"></i></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of UserList | paginate: config | searchFilter:searchTerm">
          <td>{{user.first}}</td>
          <td>{{user.last}}</td>
          <td>{{user.email}}</td>
          <td>{{user.address}}</td>
          <td>{{user.created}}</td>
          <td>{{user.balance}}</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls style="text-align: right; padding-right: 3%;" (pageChange)="pageChanged($event)"></pagination-controls>
  </div>

  <div class="card loading" *ngIf="UserList.length === 0">
    <h5>Loading...</h5>
  </div>
</div>